{% extends slim|yesno:"website/blank.html,website/index.html" %}
{% load static %}
{% block content %}
    <div class='row justify-content-center'>
        <div class='col-12' align='center'>
            <h1>Location</h1>
        </div>
    </div>
    <div class='row justify-content-center align-items-start'>
        <div class='col-12 col-sm-5 col-lg-4'>
            <img src='{% static "img/activities/cenita.jpg"%}' class='img-fluid img-border'>
        </div>
        <div class='col-12 col-sm-7 col-lg-6'>
            <p>CeNita Vineyards is located approximately 2 hours (90 miles) from the Atlanta, GA airport and 2.5 hours (130 miles) from the Chattanooga, TN airport.</p>
            <p align="center"><a href="https://goo.gl/maps/8otDfmdo1whZLSbD8" target="_blank"><img src='{% static "img/google_maps.png" %}' class='img-fluid' align="center" height=55px></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.waze.com/ul?ll=34.58307000%2C-83.71245710&navigate=yes" target="_blank"><img src='{% static "img/waze.png" %}' class='img-fluid' align="center" height=64px></a></p>
            <strong><p align='center'>The Venue at CeNita Vineyards<br>
            659 Dock Dorsey Road<br>
            Cleveland, GA 30528</p></strong>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-10 mb-2 mt-3'>
            <img src="{% static 'img/rule.png' %}" class='img-fluid'>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-12' align='center'>
            <h1>Schedule</h1>
        </div>
    </div>
    <div class='row justify-content-center align-items-start'>
        <div class='col-12 col-sm-7 col-lg-6'>
            <strong><p class='mt0'>Rehearsal Dinner</p></strong>
            <p style="margin-left: 15px;">The rehearsal dinner will take place the evening of Friday, September 13th at 6:30 PM at The Venue at CeNita Vineyards. We invite all of our guests staying in the area to attend.</p>
            <p style="margin-left: 15px;">Casual attire is permitted.</p>
                
            <strong><p>Ceremony & Reception</p></strong>
            <p style="margin-left: 15px;">The ceremony will take place at 4:00 PM at The Venue at CeNita Vineyards on Saturday, September 14th. Cocktail hour will begin at 4:30 PM and will last until the beginning of the reception at 5:30 PM.</p>
            <p style="margin-left: 15px;">Semi-Formal attire requested.</p>
                    
            <p style="margin-left: 15px;">Children are welcome to attend the rehearsal dinner, ceremony, and cocktail hour, but we ask that not children be present for the reception. If you are in need of a babysitter for your child for the duration of the reception at your place of lodging, we are glad to offer recommendations for reputable sitters in the area.</p>
        </div>
        <div class='col-12 order-first order-sm-0 col-sm-5 col-lg-4'>
            <img src='{% static "img/activities/cenita2.jpg"%}' class='img-fluid img-border'>
        </div>
    </div>
{% endblock %}