{% extends slim|yesno:"website/blank.html,website/index.html" %}
{% load static %}
{% block content %}
    <div class='row justify-content-center'>
        <div class='col-12' align='center'>
            <h1>Details Coming Soon!</h1>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-10' align='center'>
            <img src="{% static 'img/rule.png' %}" class='img-fluid'>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-lg-10 col-12'>
            <p>As details continue to be finalized, we will frequently update this page. Check back soon for more information!</p>
            <p>The wedding ceremony will take place on Saturday, September 14, 2019 at approximately 2:00 PM.</p>
            <p>The wedding reception (consisting of dinner, drinks, and dancing) will begin around 3:30 PM on Saturday and will take place at CeNita Vineyards in Cleveland, GA. Festivities will likely end around 8:00 PM.</p>
            <p>CeNita Vineyards is located approximately 2 hours (90 miles) from the Atlanta, GA airport and 2.5 hours (130 miles) from the Chattanooga, TN airport.</p>
        </div>
    </div>
{% endblock %}