{% extends slim|yesno:"website/blank.html,website/index.html" %}
{% load static %}
{% block content %}
<div class='spacer'></div>
<div class='content' data-animation="instant-fade" data-animationslow="delayed-fade" hidden>
    <div class='row'>
        <div class='child'>
            <div class='pic-frame'>
                <div class='pic-content'>
                    <img src='{% static "img/alex.jpg"%}' width=350>
                </div>
                <div class='pic-content'>
                    <h2>Alexander Patrick Bailey<br></h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus illum unde exercitationem quas autem. Repellendus provident accusantium quis earum minima, voluptates alias eos quisquam harum maiores eaque voluptatum doloribus non.
                </div>
            </div>
        </div>
        <div class='child'>
            <div class='pic-frame'>
                <div class='pic-content'>
                    <img src='{% static "img/melissa.jpg"%}' width=350>
                </div>
                <div class='pic-content'>
                    <h2>Melissa Marie Manson<br></h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repellendus aliquid ullam recusandae error id cumque aperiam, ratione totam nemo quo dolore minus perspiciatis odit. Non, perferendis unde? Veritatis, ipsa.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
