{% load static %}
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'motion-ui/dist/motion-ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <script src="{% static 'motion-ui/dist/motion-ui.js' %}"></script>
        <!-- <meta name='viewport' content='width=device-width', initial-scale=1> -->
        <!-- <script>
            MotionUI.animateIn('.content-holder', 'fade-in');
        </script> -->
    </head>
    <body>
        <div class='bg'></div>
        <div class='content-holder'>
            <div class='center'>
                <div class='menu'>
                    <!-- <a href="{% url 'party' %}">Bridal Party</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Directions&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Things To Do&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;RSVP&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Registry -->
                    <ul>
                        <!-- <li><a href="{% url 'party' %}">Bridal Party</a></li>
                        <li><a href="{% url 'directions' %}">Directions</a></li>
                        <li><a href="{% url 'activities' %}">Things To Do</a></li>
                        <li><a href="{% url 'rsvp' %}">RSVP</a></li>
                        <li><a href="{% url 'registry' %}">Regristry</a></li> -->
                        <li><a href="#" name="/engagement">Engagement</a></li>
                        <li><a href="#" name="/directions">Directions</a></li>
                        <li><a href="#" name="/activities">Things To Do</a></li>
                        <li><a href="#" name="/rsvp">RSVP</a></li>
                        <li><a href="#" name="/registry">Regristry</a></li>
                    </ul>
                </div>
            </div>
            <div class='content' data-animation="instant-fade" data-animationslow="delayed-fade" hidden>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
    <footer>
        <script src="{% static 'js/index.js' %}"></script>
               
    </footer>
</html>