{% load static %}
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'motion-ui/dist/motion-ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.scss' %}">
        <script src="{% static 'motion-ui/dist/motion-ui.js' %}"></script>
        <!-- <meta name='viewport' content='width=device-width', initial-scale=1> -->
        <!-- <script>
            MotionUI.animateIn('.content-holder', 'fade-in');
        </script> -->
    </head>
    <body>
        <div class='bg'></div>
        <div class='content-holder' hidden>
            <div class='center'>
                <div class='menu'>
                    <ul>
                        <li><a href="#" name="/engagement">ABOUT US</a></li>
                        <li><a href="#" name="/party">WEDDING PARTY</a></li>
                        <li><a href="#" name="/directions">THE EVENT</a></li>
                        <li><a href="#" name="/activities">AROUND HELEN</a></li>
                        <li><a href="#" name="/registry">REGISTRY</a></li>
                    </ul>
                </div>
            </div>
            <div class='loader' data-animation="instant-fade" data-animationslow="delayed-fade">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
    <footer>
        <script src="{% static 'js/index.js' %}"></script>          
    </footer>
</html>