{% extends slim|yesno:"website/blank.html,website/index.html" %}
{% load static %}
{% block content %}
<div class='spacer'></div>
<div class='content'>
    <div class='row' style="text-align: center">
        <h2>In lieu of typical housewares and other goods, we are gracefully accepting contributions to our honeymoon excursions.  These once-in-a-lifetime opportunities will be everlasting memories in our hearts.</h2>
    </div>
    <div class='row'>
        <div class='pic-frame'>
            <div class='pic-content'>
                <h2 class='reg-title'>Yukon Trail Train Ride</h2>
            </div>
            <div class='pic-content'>
                <img src='{% static "img/registry/yukontrain.jpg"%}' width=350>
            </div>
            <div class='pic-content'>
                <p>All aboard!  On this excusrion we'll take a ride on the Yukon Trail Train.  Wow! Once at the top of the mountain we will have the opportunity to ride a dogsled and interact with the mushing dogs.</p>
            </div>
            <div style="border: black 1px solid; border-radius: 15px; margin: 0px 50px">
                    <div style="background: rgb(0, 255, 157); height:24px;width:20%; border-radius: 15px; white-space: nowrap;"> $82 / $1420</div>
                  </div>
            <div class='pic-content'>
                    
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="Y2MKMQXPUSRQN" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
            </div>
        </div>
        <div class='pic-frame'>
            <div class='pic-content'>
                <h2 class='reg-title'>Whales and Helicopter Glacier Landing</h2>
            </div>
            <div class='pic-content'>
                <img src='{% static "img/registry/whale.jpg"%}' width=350>
            </div>
            <div class='pic-content'>
                <p>Your adventure begins with a short drive through downtown Juneau all the way to Auk Bay where you will have the opportunity to see humpback and orca whales, Dall's porpoises, stellar sea lions, harbor seals, bald eagles, and more.</p>
            </div>
            <div class='pic-content'>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="Y2MKMQXPUSRQN" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
            </div>
        </div>
        <div class='pic-frame'>
            <div class='pic-content'>
                <h2 class='reg-title'>Misty Fjords Executive Flightseeing</h2>
            </div>
            <div class='pic-content'>
                <img src='{% static "img/registry/flight.jpg"%}' width=350>
            </div>
            <div class='pic-content'>
                <p>Your trip to the Misty Fjords will take you away from crowds and will amaze you with its extreme beauty, as well as its close proximity to the urban life of Ketchikan.</p>
            </div>
            <div class='pic-content'>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="Y2MKMQXPUSRQN" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
            </div>
        </div>
    </div>
    <div class='spacer'>
    <div class='row'>
        <div class='pic-frame'>
            <div class='pic-content'>
                <h2 class='reg-title'>Tongass Rainforest Hiking Expedition</h2>
            </div>
            <div class='pic-content'>
                <img src='{% static "img/registry/tongass.jpg"%}' width=350>
            </div>
            <div class='pic-content'>
                <p>We'll get the hike through the Tongass National Forest and potentially see some awesome wildlife and stuff.</p>
            </div>
            <div class='pic-content'>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="Y2MKMQXPUSRQN" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
            </div>
        </div>
        <div class='pic-frame'>
            <div class='pic-content'>
                <h2 class='reg-title'>Volcano Coast Exploration By Ocean Raft</h2>
            </div>
            <div class='pic-content'>
                <img src='{% static "img/registry/volcano.jpg"%}' width=350>
            </div>
            <div class='pic-content'>
                <p>An ocean rafting adventure is the perfect way to make your visit to Sitka exciting and unforgettable. Before you begin, you will be equipped with state-of-the-art gear for this extreme adventure.</p>
            </div>
            <div class='pic-content'>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="Y2MKMQXPUSRQN" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
            </div>
        </div>
        <div class='pic-frame'>
            <div class='pic-content'>
                <h2 class='reg-title'>Dog Sledding on Mendenhall Glacier Via Helicopter</h2>
            </div>
            <div class='pic-content'>
                <img src='{% static "img/registry/dogsled.jpg"%}' width=350>
            </div>
            <div class='pic-content'>
                <p>We'll take a helicopter ride to the top of Mendenhall Glacier where we will get to dogsled in the SNOW!</p>
            </div>
            <div class='pic-content'>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="Y2MKMQXPUSRQN" />
                        <div class='button contribute'>Contribute</div>
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}
