{% extends slim|yesno:"website/blank.html,website/index.html" %}
{% load static %}
{% block content %}
    <div class='row justify-content-center'>
        <div class='col-12 col-lg-10' align='center'>
            <p>We’ll begin our life of marital bliss with a fabulous Carnival cruise sailing out of Vancouver, Canada! Our nine-day Alaskan cruise will take us to Icy Strait Point, Sitka, Skagway, Juneau, and Ketchikan. Our wedding registry consists of experiences and expenses for our dream honeymoon where guests can make direct contributions if so inclined. The biggest gift of all, however, is your presence on our wedding day. Thank you for your love and support; we can’t wait to share our honeymoon adventures with you!</p>
            <p>All donations are handled securely through PayPal.<br>You do not need a PayPal account to contribute.<br>You will be able to select any amount you prefer after clicking the Donate link.</p>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-10' align='center'>
            <img src="{% static 'img/rule.png' %}" class='img-fluid'>
        </div>
    </div>
    <div class='row mb-5'>
        {% for item in items %}
        <div class='col-xs-12 col-sm-6 col-lg-4' align='center'>
            <div class='reg-title'><h2>{{item.title}}</h2></div>
            {% with 'img/registry/'|add:item.image_name as image_static %}
                <img class='img-fluid img-border reg-image' src={% static image_static %}>
            {% endwith %}
            <p class='reg-desc'>{{item.description}}</p>
            <div class='goal-bar'>
                <span>{% if item.amr > 0 %}${{item.amr|floatformat:"-2"}} Left{% else %}Funded!{% endif %}</span>
                <div class='goal-fill' style="width:{{item.percent_finished}};"></div>
            </div>
            {% if item.amr > 0 %}
            <div class='reg-button'>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    {% csrf_token %}
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="{{item.button}}" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                </form>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class='row justify-content-center mb-3'>
        <div class='col-10' align='center'>
            <img src="{% static 'img/rule.png' %}" class='img-fluid'>
        </div>
    </div>
    <div class='row justify-content-center align-items-center'>
        <div class='col-lg-2 col-3'>
            <a href="https://www.target.com/gift-registry/giftgiver?registryId=aab9a74f037f4c3190fee5a8889294c2&type=WEDDING" target="_blank">
                <img class='img-fluid' src="{% static 'img/Target_logo.png' %}" align='right'>
            </a>
        </div>
        <div class='col-lg-5 col-7'>
            <p>If you would prefer to gift us something tangible, we are registered at Target.  Search for "Melissa Manson & Alex Bailey" or simply click the icon to the left.</p>
        </div>
    </div>
{% endblock %}
