{% extends slim|yesno:"website/blank.html,website/index.html" %}
{% load static %}
{% block content %}
<div class='spacer'></div>
<div class='content'>
    <div class='container'>
        <div class='row' style="text-align: center">
            <h2>In lieu of typical housewares and other goods, we are gratefully accepting contributions to our honeymoon excursions.  These once-in-a-lifetime opportunities will be everlasting memories in our hearts.</h2>
        </div>
        <div class='row'>
            {% for item in items %}
            <div class='col-6 col-lg-4' align='center'>
                <div class='reg-title'><h2>{{item.title}}</h2></div>
                {% with 'img/registry/'|add:item.image_name as image_static %}
                    <img class='reg-image' src={% static image_static %} width=350>
                {% endwith %}
                <p class='reg-desc'>{{item.description}}</p>
                <div class='goal-bar'>
                    <span>{% if item.amr > 0 %}${{item.amr|floatformat:"-2"}} Left{% else %}Funded!{% endif %}</span>
                    <div class='goal-fill' style="width:{{item.percent_finished}};"></div>
            </div>
                {% if item.amr > 0 %}
                <div class='reg-button'>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        {% csrf_token %}
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="{{item.button}}" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>   
    </div>
</div>
{% endblock %}
