{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<style>

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.background {
    position:  absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-blend-mode: darken;
    transition: 2s;
}

.background[bgimage="1"] {
    background-image: url("../static/img/bg/1.webp");
}

.background[bgimage="2"] {
    background-image: url("../static/img/bg/8.jpg");
}

.content {
    position: relative;
    top: 90%;
    min-height: 1000px;
    background: white;
}

</style>
<html>
    <body>
        <div class='background' bgimage="1"></div>
        <!-- <div class='bg-image two'></div> -->
        <div class='content'></div>
    </body>
</html>