{% load static %}
<style>
.content-holder {
    position: relative;
    top: -200px;
    background: white;
    font-family: "Rochester";
    min-height: 1000px;

}

.content {

    width:960px;
    height:auto;
    margin:0px auto;
    display:flex;
}

.child {
    width: 200px;
    height: 200px;
    margin: auto;
    background: blue;
}

body, html {
    height: 100%;
    margin: 0%;
    font: "Rochester";
}

}

</style>
<body>
<div class='content'>
        <div class='spacer'></div>
        <div class='child'>
            <!-- <img src='{% static "img/alex.jpg"%}' width=350> -->
            Alexander Patrick Bailey
        </div>
        <div class='child'>
            <!-- <img src='{% static "img/melissa.jpg"%}' width=350> -->
            Melissa Marie Manson
        </div>
</div>
</body>