@import '../motion-ui/src/motion-ui.scss';
@include motion-ui-transitions;
@include motion-ui-animations;

$intialDelay: 1.0s;
$hingeDelay: 1.5s;
$instantFadeDelay: 0.5s;
$delayedFadeDelay: 2.0s;
$fadeDuration: 0.7s;

body, html {
    height: 100%;
    margin: 0%;
    font-family: "Narkisim Regular";
}

p {
    font-family: "Narkisim Regular";
    font-size: 14;
}

h1, h2, h3 {
    font-family: "Rochester";
}

ul {
    @include mui-hinge(in, $from:top, $delay:$hingeDelay);
    list-style-type: none;
    margin: 0;
    padding: 0;
    // overflow: hidden; 
}

li{
    float: left;
    padding: 0px 20px 0px 20px;
}

.menu {
    position: relative;
    background: white;
    font-size: 22;
    top: -20px;
    display: inline-block;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}


.menu a {
    font-family: "Narkisim Regular";
    text-decoration: none;
    color: black;
}

.menu a:hover {
    border-bottom: 4px solid #00b1d5;
}

.menu a:active {
    border-bottom: 4px solid #00b1d5;
}

.bg { 
    /* The image used */
    background-image: url("../img/eng/emily/DSC05374.jpg");
    background-attachment: fixed;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-holder {
    position: relative;
    top: -200px;
    background: white;
    font-family: "Rochester";
    min-height: 1000px;
    @include mui-fade(in, $duration:$fadeDuration, $delay:$intialDelay);
}

.content {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 960px;
    margin: auto;
    align-content: center;
}

.child {
    width: 500px;
    height: 400px;
    margin: auto;
}

.pic-frame {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin:0 10;
}

.pic-content {
    align-self: center;
}

.box {
    border: 20px solid;
    // padding: 20px;
    // float: left;
    border-image: url('../img/small_box.png') 100 repeat;
    font-family: "Trajan Pro";
    align-items: center;
}

.spacer {
    height: 42px;
    width: 100%;
    clear: both;
}


.spacer-medium {
    height: 28px;
    width: 100%;
    clear: both;
}

.spacer-small {
    height: 14px;
    width: 100%;
    clear: both;
}

.rule {
    align-self: center;
    border-bottom: 1px solid grey;
    width: 75%;
}

.helper {
    border-color: red;
    border-width: 20px;
    border-style: solid;
    background: red;
}

.box p{
    max-width: 400px
}


.center {
    text-align: center;
}

.instant-fade {
    @include mui-fade(in, $duration:$fadeDuration, $delay:$instantFadeDelay)
}

.delayed-fade {
    @include mui-fade(in, $duration:$fadeDuration, $delay:$delayedFadeDelay)
}