"""
Make sure this file is in .gitignore

Add certain settings here that you might not want to publish to your git repo.
"""


SECRET_KEY = u'django secret key'
DB_HOST = 'gae cloud sql instance'
DB_NAME = 'db name'
DB_USER = 'db username'
DB_PASSWORD = 'db password'